<?xml version="1.0"?>
<model>
  <name>GreenSphere50NoCollision</name>
  <version>1.0</version>
  <sdf version="1.5">green_sphere50_no_collision.sdf</sdf>

  <author>
    <name>Matteo Lucchi</name>
    <email>matteo.lucchi@joanneum.at</email>
  </author>

  <description>
    Sphere Diameter 50 mm with no collision properties
  </description>
</model>
