<?xml version="1.0" ?>
<model>
    <name>isaac_demotable_cuboid</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Bernhard Reiterer</name>
        <email>Bernhard.Reiterer@joanneum.at</email>
    </author>
    <description>Corresponding model for the body of the demo table from Isaac Sim. Origin is at robot mounting point (table body is at negative z).</description>
</model>
